/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: nord --default, night --prefersdark, cupcake, dracula
}
/* In above example, we have 4 themes: nord, night, cupcake, and dracula. nord is the default theme, night is the default theme for dark mode, and cupcake and dracula are available to use with data-theme="cupcake" and data-theme="dracula".*/

@theme {
  --font-monserrat: "Montserrat", sans-serif;

  --animate-fade-in: fade-in 1s ease-in-out forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@font-face {
  font-family: Montserrat;
  src: url("/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf") format("truetype");
}
